body, #mainWrapper {
	height: 100%;
	background-color:rgb(245, 245, 245);
    bordercolor: #433f80;
    color: #433f80;
}

body, .form-control{
	font-size:15px!important;
    font-family: sans-serif;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {

  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.generic-container-add {

  width:96%;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
}

.custom-width {
    width: 80px !important;
}
